.git
.gitignore
**/.env
**/.env.*
!**/.env.example

frontend/node_modules
frontend/.next
frontend/out
frontend/.pnpm-store

backend/.pytest_cache
backend/.ruff_cache
backend/__pycache__
backend/**/__pycache__

postgres-data
redis-data
